<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>E11EVATE</title>
</head>

<header>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Commit to self.</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="">ABOUT</a></li>
                <li><a href="">SERVICES</a></li>
                <li><a href="">CONTACT</a></li>
            </ul>
        </div>
    </nav>
    <h3>“I know that you can do all things;
        no purpose of yours can be thwarted."</h3>
    <h3>Job 42:2</h3>
</header>

<body>
    {{{body}}}

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>