<div class="parallax-container">
    <div class="parallax"><img src="/images/e11evate_logo.jpg"></div>
    {{!-- overlay --}}
    <div></div>
</div>
<main>
    <div>
        <div>
            <h2>About</h2>
            <p>About section will go here</p>
        </div>
        <div>
            <img id="about-image" src="/images/IMG_1215.jpg" alt="">
        </div>
    </div>
    <div>
        <div>
            <img id="services-image" src="/images/IMG_1312.jpg" alt="">
        </div>
        <div>
            <h2>Services</h2>
            <ul>
                <li>Online Coaching</li>
                <li>TikTok Collaborations</li>
                <li>Instagram Collaborations</li>
            </ul>
        </div>
    </div>
    <div id="contact">
        <h2>Contact</h2>
        <p>Contact info will go here</p>
    </div>
</main>