body,
html {
    height: 100%;
}

.parallax {
    background-image: url('/assets/images/e11evate_logo.jpg');
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.overlay {
    background-image: url('/assets/images/IMG_1203\ cropped.jpg');
    filter: grayscale(100%);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.3;
}